<div class="container">
    <div class="row">
        <div class="col">
            <h1>Show Animals HIER</h1>
        </div>
        <div class="col text-end">
            <a asp-controller="Animal" asp-action="Create">
                <button type="button" class="btn btn-primary">Nieuwe dier aanmaken</button>
            </a>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Naam</th>
                <th scope="col">Type</th>
                <th scope="col">Prijs</th>
                <th scope="col">Afbeelding</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var animal in Model)
            {
                <tr>
                    <th scope="row">@animal.Id</th>
                    <td>@animal.Name</td>
                    <td>@animal.Type</td>
                    <td>€@animal.Price</td>
                    <td><img src="@animal.ImageUrl" alt="@animal.Name" style="max-height: 100px;"/></td>
                </tr>
            }
        </tbody>
    </table>
</div>
